.title {
    margin-left: 150px;
}

.container {
    width: 835px;
    height: 850px;
    background-color: rgb(199, 196, 194);
}

.myimage1 {
    transform: translateY(-790px);
    border-radius: 150%;
    margin-left: 250px;
}

.h1 {
    transform: translateY(-420px);
    width: 400px;
    font-family: "Doto", sans-serif;
    margin-left: 250px;
}

.title2 {
    margin-left: 350px;
    transform: translateY(-58px);
}

.calculatorproject {
    transform: translateY(-610px);
    font-size: 1.5em;
    margin-left: 150px;

}

.calculator {
    transform: translateY(-530px);
    width: 95px;
    margin-right: 310px;
    margin-left: 50px;
}

.firstproject {
    transform: translateY(-750px);
    margin-left: 10px;
}

.front-end-mentor- {
    transform: translateY(-770px);
    margin-left: 190px;
    width: 110px;
    height: 170px;
    margin-left: 210px;
}

.secondproject {
    transform: translateY(-1101px);
    margin-left: 180px;
    margin-top: 90px;
}

.calculator2project {
    transform: translateY(-200px);
}